<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <td>Certification Number</td>
        <td>RC 123456.001</td>
    </tr>
    <tr>
        <td>Recycler Name</td>
        <td>Rangel's Recycling</td>d>
    </tr>
    <tr>
        <td>Address</td>
        <td>4600 Stine Rd.</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    </div>

