
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>OBC (Other Beverage Containers)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#2 HDPE Plastic (High Density Polyethylene)</td>
            </tr>
            <tr>
                <td>#3 PVC Plastic (Polyvinyl Chloride)</td>
            </tr>
            <tr>
                <td>#4 LDPE Plastic (Low Density Polyethylene)</td>
            </tr>
            <tr>
                <td>#5 PP (Polypropylene)</td>
            </tr>
            <tr>
                <td>#6 PS (Polystyrene)</td>
            </tr>
            <tr>
                <td>#7 Other</td>
            </tr>

        </tbody>
    </table>

</div>
