<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>SW</td>
                <td>Segregated Weight</td>
            </tr>
            <tr>
                <td>SC</td>
                <td>Segregated Count</td>
            </tr>
            <tr>
                <td>SP</td>
                <td>Scrap Only (Non-CRV)</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


