@{
    ViewBag.Title = "Contact";
}

<div>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Company Office<br />
        412 Mt. Vernon Ave. Suite 5<br />
        Bakersfield, CA 93307<br />
        <abbr title="Phone">P:</abbr>
        (661) 865-8070
    </address>


    <address>
        Recycling Center @@ Metro Mart<br />
        4600 Stine Rd.<br />
        Bakersfield, CA 93313<br />
        <abbr title="Phone">P:</abbr>
        (661) 865-8070
    </address>

    <address>
        <strong>Information:</strong>   <a href="mailto:info@rangelsrecycling.com">info@rangelsrecycling.com</a><br />
    </address>
</div>