
<div class="container"><br/>
    <h3>@ViewBag.Message</h3>
    <p>
        <h3>What is CRV?</h3>
        California Refund Value (CRV) is the amount paid by consumers at the checkout stand and paid back to consumers when they recycle eligible aluminum,
        plastic, glass and bi-metal beverage containers at certified recycling centers. The minimum refund value established for each type of eligible 
        beverage container is 5&cent; for each container under 24 ounces and 10&cent; for each container 24 ounces or greater.<br/><br/>
        
        For more information about CRV, go to <a href="http://www.bottlesandcans.com">www.bottlesandcans.com</a> or call 1-800-RECYCLE.
    </p>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Material</td>
                    <td>Price Per Pound</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aluminum</td>
                    <td>$1.58</td>
                </tr>
                <tr>
                    <td>Glass</td>
                    <td>$0.105</td>
                </tr>
                <tr>
                    <td>Bi-metal</td>
                    <td>$0.35</td>
                </tr>
                <tr>
                    <td>#1 PET Plastic (Polyethylene Terephthalate)</td>
                    <td>$1.17</td>
                </tr>
                <tr>
                    <td>#2 HDPE Plastic (High Density Polyethylene)</td>
                    <td>$0.59</td>
                </tr>
                <tr>
                    <td>#3 PVC Plastic (Polyvinyl Chloride)</td>
                    <td>$0.56</td>
                </tr>
                <tr>
                    <td>#4 LDPE Plastic (Low Density Polyethylene)</td>
                    <td>$2.03</td>
                </tr>
                <tr>
                    <td>#5 PP (Polypropylene)</td>
                    <td>$0.57</td>
                </tr>
                <tr>
                    <td>#6 PS (Polystyrene)</td>
                    <td>$5.53</td>
                </tr>
                <tr>
                    <td>#7 Other</td>
                    <td>$0.31</td>
                </tr>

            </tbody>
        </table>

    </div>

    <p>
    <strong>NOTE:</strong><br/>
    Refund not paid for packaging, contamination such as dirt or moisture, nor beverage containers not properly labeled with &quot;
    CA Redemption Value&quot; or &quot;CA Cash Refund&quot; message.<br />
    *Rangel's Recycling will discount the refund value and may discount scrap value of loads of containers which include non-redemption material.<br />
    The consumer has the right to:<br />
    <br />
    1. Accept a discounted refund or scrap price<br />
    2. Separate refund from non-refund material<br />
    3. Take back material<br/><br/>
    *SB 332 does not require new containers added to the program to be labeled <br/>
    </p>

</div>

