<div class="container">
    <h3>@ViewBag.Message</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Question</td>
                    <td>Answer</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>What are you current rates?</td>
                    <td>Our current rates can be found here @Html.ActionLink("Rates", "Rates", "Home")</td>
                </tr>
                <tr>
                    <td>What is CRV?</td>
                    <td>California Refund Value (CRV) is the amount paid by consumers at the checkout stand and paid back to consumers when they recycle eligible aluminum,
        plastic, glass and bi-metal beverage containers at certified recycling centers.</td>
                </tr>
                <tr>
                    <td>What are the current CRV rates?</td>
                    <td>The current CRV rates can be found here @Html.ActionLink("CRV", "CRV", "Home")</td>
                </tr>
            </tbody>
        </table>

    </div>


</div>