<div class="container">
    <h3>@ViewBag.Message</h3>
    <p>
        Listed below are the hours our buy back centers will be open to purchase your CRV eligible products.
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Day</td>
                    <td>Hours</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>9am - 4pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9am - 4pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9am - 4pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9am - 4pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9am - 4pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9am - 3pm</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9am - 1pm</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
