<div class="container">
    <h4 class="eco_img_head text-uppercase">GOOGLE MAP WITH CUSTOM PIN</h4>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 eco-padder-0left">
        <div class="eco_mapdiv eco_map_border">
            <div id="em_normal_map" style="width: 100%; height: 400px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.7270125147425!2d-119.056241!3d35.312764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ea402feb3b8fbd%3A0x2a78a325dc023a48!2s4600+Stine+Rd%2C+Bakersfield%2C+CA+93313!5e0!3m2!1sen!2sus!4v1443927284596" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="eco_short_data">
            <p><strong>Cherry</strong>&nbsp;is a small, creative design agency.&nbsp;Below is some info about us, and do not forget to follow us on our social networks.</p>
            <p><i class="fa fa-phone"></i>&nbsp; +386 40 123 456</p>
            <p><i class="fa fa-envelope"></i>&nbsp; info@premiumcoding.com</p>
            <div class="eco_short_map eco_btn_color1">
                <div class="eco_short_map_icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="eco_short_map_btn btn-lg"><a href="">Followon Twitter</a> </div>
            </div>
            <div class="eco_short_map eco_btn_color2">
                <div class="eco_short_map_icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="eco_short_map_btn btn-lg"><a href="">Followon Facebook</a> </div>
            </div>
            <div class="eco_short_map eco_btn_color3">
                <div class="eco_short_map_icon">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="eco_short_map_btn btn-lg"><a href="">Followon Google+</a> </div>
            </div>
        </div>
    </div>
</div>