<div class="container">
    <!--Inner Section Start-->
    <div class="eco_inner_page_container eco_light_bg">
        <div class="container">
            <div class="eco_filter">
                <ul class="eco_filter_title">
                    <li>
                        <a href="#" class="filter-item active" data-filter="all">SHOW All</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="dailysummary">DAILY SUMMARY</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="processmaterial">PROCESS MATERIAL</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="managecustomers">MANAGE CUSTOMERS</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="customerprofile">CUSTOMER PROFILE</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="managematerial">MANAGE MATERIAL</a>
                    </li>
                    <li>
                        <a href="#" class="filter-item" data-filter="managepricing">MANAGE PRICING</a>
                    </li>

                    <li>
                        <a href="#" class="filter-item" data-filter="managefacility">MANAGE FACILITY</a>
                    </li>
                </ul>
            </div>
            <div class="eco_mix_grid" id="grid">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 processmaterial mix mix_all">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Process Material</a></h5>
                            <div class="eco_blog_min_cat">processmaterial</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 managecustomers mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Manage Customers</a></h5>
                            <div class="eco_blog_min_cat">manage customers</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 customerprofile mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Customer Profile</a></h5>
                            <div class="eco_blog_min_cat"> customer profile</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 dailysummary mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Daily Summary</a></h5>
                            <div class="eco_blog_min_cat">Manage Daily Summary Reports</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 managepricing mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Manage Pricing</a></h5>
                            <div class="eco_blog_min_cat"> manage pricing</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 managematerial mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Manage Material</a></h5>
                            <div class="eco_blog_min_cat"> managematerial</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 managefacility mix">
                    <div class="eco_port_min">
                        <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                            <h5 class="eco_blog_min_title"><a href="#">Manage Facility</a></h5>
                            <div class="eco_blog_min_cat"> manage facility</div>
                            <div class="eco_blog_min_text">Lorem ipsum dolor sit amet, consectet ad elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut... </div>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Create Item</a>
                            <a class="eco_readmore eco_opacity" href="#" role="button">Edit Item</a>
                        </div>
                    </div>
                </div>
             </div>
            </div>
            <nav class="eco_pagination padder_top_20 padder_bottom_70">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#"><span aria-hidden="true">Page 1 Of 2</span><span class="sr-only">Previous</span></a>
                    </li>
                    <li class="active">
                        <a href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>