@model RangelsRecycling.Web.Models.MaterialsListViewModel

@{
    ViewBag.Title = "Materials";
}

@foreach (var m in Model.Materials)
{
    <div>
        <h3>@m.Name</h3>
        <h4>@m.Description</h4>
    </div>
}

