<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>Material</td>
                <td>Price Per Pound</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aluminum</td>
                <td>$1.58</td>
            </tr>
            <tr>
                <td>Glass</td>
                <td>$0.105</td>
            </tr>
            <tr>
                <td>Bi-metal</td>
                <td>$0.35</td>
            </tr>
            <tr>
                <td>#1 PET Plastic (Polyethylene Terephthalate)</td>
                <td>$1.17</td>
            </tr>
            <tr>
                <td>#2 HDPE Plastic (High Density Polyethylene)</td>
                <td>$0.59</td>
            </tr>
            <tr>
                <td>#3 PVC Plastic (Polyvinyl Chloride)</td>
                <td>$0.56</td>
            </tr>
            <tr>
                <td>#4 LDPE Plastic (Low Density Polyethylene)</td>
                <td>$2.03</td>
            </tr>
            <tr>
                <td>#5 PP (Polypropylene)</td>
                <td>$0.57</td>
            </tr>
            <tr>
                <td>#6 PS (Polystyrene)</td>
                <td>$5.53</td>
            </tr>
            <tr>
                <td>#7 Other</td>
                <td>$0.31</td>
            </tr>

        </tbody>
    </table>

</div>
